name: Build Windows

on:
  push:
    branches: master
  release:
    types: [created]
  workflow_dispatch: {}

jobs:
  build:
    name: Build for StandaloneWindows64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        uses: game-ci/unity-builder@v4
        id: buildStep
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneWindows64
          buildName: hatbor
          versioning: Semantic

      - uses: actions/upload-artifact@v3
        with:
          name: hatbor-Windows-${{ steps.buildStep.outputs.buildVersion }}
          path: build/StandaloneWindows64

      - name: Archive artifacts
        if: github.event_name == 'release'
        run: cd build && zip -r artifact.zip StandaloneWindows64

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: build/artifact.zip
          asset_name: hatbor-Windows-${{ steps.buildStep.outputs.buildVersion }}.zip
          asset_content_type: application/zip
